@charset "UTF-8";

@font-face {
    font-family: 'docktrin';
    src: url(../Fontes/docktrin.ttf); format:('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Genova';
    src: url(../Fontes/Genova.otf); format:('opentype');
    font-weight: normal;
}
:root{
    --fundo: #dddbcf;
    --branco: #ffffff;
    --branco2: #ffffff79;
    --preto:  #000000;
    --preto2: #0000009d;
    --marrom1: #C08260;
    --marrom2: #A36B58;
    --marrom3: #E7977D;
    --marrom4: #C5816A;
    --marrom5: #815546;
    --marrom6: #5F3E33;
    --marrom7: #9E6B4F; 
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Genova', sans-serif;
    --fonte-titulo: 'docktrin', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: var(--marrom5);
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom, var(--marrom1), var(--marrom5));
}
header > h1{
    padding: 15px;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 3px #00000083;
}
header > p{
    padding: 10px;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 3px #00000080;
}
nav{
    position: sticky;
    left: 0%;
    top: 0%;
    text-align: center;
    background-color: var(--marrom5);
    padding: 10px;
}
nav > i > a{
    display: inline-block;
    margin: 4px;
    padding: 2px;
    text-decoration: none;
    color: var(--marrom3);
    background-color: var(--marrom6);
    border: 3px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.1em;
    transition: .8s;
}
nav > i > a:hover{
    color: var(--marrom6);
    background-color: var(--marrom3);
    border: 3px solid var(--marrom4);
    transform: translateY(-3px);
}
main {
    background-color: var(--marrom5);
}
h1#main{
    padding: 10px;
    border: 2px solid black;
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    background-color: var(--marrom6);
    color: var(--branco);
    text-shadow: 2px 2px 2px var(--marrom4);
    box-shadow: 1px 1px 1px black;
}
main > div{
    padding: 15px;
    margin: 15px;
}
main > div > a{
    text-align: center;
    padding: 15px;
    margin: 15px;
    display: block;
    color: var(--branco);
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 1s;
}
main > div > a:hover{
    text-decoration: underline;
    border-radius: 10px;
    background-color: var(--branco2);
}
main > div > a > img{
    padding: 15px;
    width: 50px;
    height: 50px;
}
footer {
    background-color: var(--marrom7);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: underline;
}
